@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Employee Form</h1>
    <p>
        <a asp-controller="Employee" asp-action="Create">Click to Create New Employee Record</a>
    </p>
    <p>
        <a asp-controller="Employee" asp-action="Index">Click to Display All Employees</a>
    </p>
</div>
